.content-section {
  --_margin-bottom-lg: 7rem;

  &--margin-bottom-lg {
    margin-bottom: var(--_margin-bottom-lg);
  }

  &__picture {
    margin-bottom: $margin-400;
  }

  &__infos {
    padding-block: $padding-500;
    border-top: 2px solid $clr-grey-300;
    border-bottom: 2px solid $clr-grey-300;
  }

  &--infos-left &__infos {
    order: -1;
  }

  &__title {
    font-family: $ff-secondary;
    font-size: $fs-800;
    color: $clr-primary-blue-400;
    letter-spacing: $ls-200;
    text-transform: capitalize;
    margin-bottom: $margin-500;
  }

  &__paragraph {
    margin-bottom: $margin-400;
  }

  @include respond-to("tablet") {
    --_margin-bottom-lg: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &__picture {
      margin-bottom: 0;
      width: 80%;
    }

    &__infos {
      width: 80%;
    }
  }
}
