@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.content-section {
  &__picture {
    margin-bottom: $margin-400;
  }

  &__infos {
    padding-block: $padding-500;
    border-top: 2px solid $clr-grey-300;
    border-bottom: 2px solid $clr-grey-300;
  }

  &__title {
    font-family: $ff-secondary;
    font-size: $fs-800;
    letter-spacing: $ls-200;
    text-transform: capitalize;
    margin-bottom: $margin-500;
  }

  &__paragraph {
    margin-bottom: $margin-400;
  }

  @include respond-to("tablet") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    // gap: clamp($spacing-700, 6vw + 1rem, $spacing-900);

    &__picture {
      margin-bottom: 0;
      width: 80%;
    }

    &__infos {
      width: 80%;
    }
  }
}
