*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: $ff-primary;
  font-size: $fs-600;
  color: $clr-primary-blue-100;
  line-height: 1.875;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

section {
  margin-bottom: $margin-900;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

ul[role="list"] {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#root {
  isolation: isolate;
}
